<mat-card>
    <mat-card-header>
        <mat-card-title>Virus Totals</mat-card-title>
      </mat-card-header>
    <mat-card-content>
        <p>
            Total <span class="accent-color"> Confirmed: {{latestEvent.confirmed}} </span>
        </p>
        <p>
            Total <span class="error-color"> Deaths: {{latestEvent.deaths}} </span> 
        </p>
        <p>
            Total <span class="primary-color"> Recovered: {{latestEvent.recovered}} </span>
        </p>
    </mat-card-content>
</mat-card>